<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf8" />
		<link rel="stylesheet" href="../css/cssgeneral.css" />
		<link rel="stylesheet" href="../css/404.css" />
		<title>404 - Page inexistante</title>
	</head>
	<body>
    	<div class="bg">
    	    <div class="content nonselectible">
                <h1 class="title">404 - Page inexistante</h1>
                <p class="message">La page que vous recherchez n'existe pas..</p>
    	    </div>
    	</div>
	</body>
</html>

