<div id="notifications">
	<% for(var i=0; i<notifications.length; i++) { %>
		<div class="notification type<%= notifications[i].type %>">
			<i class="fa fa-times fa-2x close" aria-hidden="true"></i>
			<%= notifications[i].text %>
		</div>
	<% } %>
	</div>
	<script>
	$(".close").click(function() {
		console.log("close")
		var n = $(this).parent()
		n.hide(200)
	})
</script>
